<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{file.properties.tx_t3sbootstrap_hover_effect} && {file.link} && ({file.description} || {file.title})">
	<f:then>
		<f:render partial="Media/Effect/{file.properties.tx_t3sbootstrap_hover_effect}" arguments="{file: file, width: width, height: height, addmedia: addmedia, ratio: ratio}" />
	</f:then>
	<f:else>
		<figure class="image{addmedia.figureclass}{f:if(condition: file.properties.tx_t3sbootstrap_extra_class, then: ' {file.properties.tx_t3sbootstrap_extra_class}')}">
			<f:if condition="{file.link}">
				<f:then>
					<f:link.typolink parameter="{file.link}" title="{file.title}">
						<f:render partial="Media/Rendering/Image" arguments="{file: file, width: width, height: height, addmedia: addmedia, ratio: ratio}" />
					</f:link.typolink>
				</f:then>
				<f:else>
					<f:if condition="{addmedia.imagezoom}">
						<f:then>
							<ce:link.clickEnlarge image="{file}" configuration="{settings.media.popup}">
								<f:render partial="Media/Rendering/Image" arguments="{file: file, width: width, height: height, addmedia: addmedia, ratio: ratio}" />
							</ce:link.clickEnlarge>
						</f:then>
						<f:else>
							<f:render partial="Media/Rendering/Image" arguments="{file: file, width: width, height: height, addmedia: addmedia, ratio: ratio}" />
						</f:else>
					</f:if>
				</f:else>
			</f:if>
			<f:if condition="{file.description}">
				<figcaption style="max-width: {width}px;" class="mx-auto image-caption text-{file.properties.tx_t3sbootstrap_description_align}">
					{file.description -> f:format.raw()}
				</figcaption>
			</f:if>
		</figure>
	</f:else>
</f:if>
</html>
