<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<figure class="video{addmedia.figureclass}">
	<div class="embed-responsive embed-responsive-16by9">
		<f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" />
	</div>
	<f:if condition="{file.description}">
		<figcaption class="video-caption">
			{file.description}
		</figcaption>
	</f:if>
</figure>
</html>
