<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="content">
<h1>T3SB Configuration</h1>
<f:flashMessages />
<f:if condition="{config}">
	<f:then>
		<f:link.action action="edit" arguments="{config : config}" class="btn btn-primary btn-block" style="margin-bottom:2rem;">Edit this configuration</f:link.action>
		<f:if condition="{isSiteroot}">
			<f:then>
				<div class="panel-group" id="accordionInfo" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading panel-info" role="tab" id="configinfo">
							<h4 class="panel-title text-center">
								<a role="button" data-toggle="collapse" data-parent="#accordionInfo" style="display: block;" href="#collapseConfiginfo" aria-expanded="false" aria-controls"collapseConfiginfo">
									Pages with T3SB Configuration
								</a>
							</h4>
						</div>
						<div id="collapseConfiginfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="configinfo">
							<div class="panel-body">
								<table class="table table-striped">
									<thead class="thead-default">
									<tr>
										<th>#</th>
										<th>page uid</th>
										<th>page title</th>
									</tr>
									</thead>
									<tbody>
										<f:for each="{allConfig}" as="config" iteration="iterator">
											<tr>
												<th scope="row">{iterator.cycle}</th>
												<td>{config.uid}</td>
												<td>{config.title}</td>
											</tr>
										</f:for>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<f:if condition="{titleTags}">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="überschriftZwei">
								<h4 class="panel-title text-center">
									<a role="button" data-toggle="collapse" data-parent="#accordionInfo" style="display: block;" href="#collapseZwei" aria-expanded="false" aria-controls"collapseConfiginfo">
										Metadata Title Tag (overview)
									</a>
								</h4>
							</div>
							<div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
								<div class="panel-body">
									<table class="table">
										<thead class="thead-default">
										<tr>
											<th>#</th>
											<th>page uid</th>
											<th>page title</th>
											<th>page metatitle</th>
										</tr>
										</thead>
										<tbody>
											<f:for each="{titleTags.1}" as="page" iteration="iterator">
												<tr>
													<th scope="row">{iterator.cycle}</th>
													<td>{page.uid}</td>
													<td>{page.title}</td>
													<td>{page.titleTag}</td>
												</tr>
											</f:for>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</f:if>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{admin}">
					<f:link.action action="delete" arguments="{config : config}" class="btn btn-danger btn-block" additionalAttributes="{onclick: 'return confirm(\'Are you sure want to delete this configuration?\')'}">Delete this configuration</f:link.action>
				</f:if>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{compiler}">
			<f:then>
				<f:if condition="{isSiteroot}">
					<f:then>
						<f:if condition="{admin}">
							<f:link.action action="new" class="btn btn-primary btn-block">New main configuration</f:link.action>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{rootConfig}">
							<f:then>
								<f:if condition="{admin}">
									<f:link.action action="new" class="btn btn-warning btn-block">Override configuration</f:link.action>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{admin}">
									<div class="alert alert-danger" role="alert">The main configuration has to be created first on the root page.</div>
								</f:if>
							</f:else>
						</f:if>
					</f:else>
				</f:if>		
			</f:then>
			<f:else>
				<div class="alert alert-danger text-center" role="alert"><strong>You have to install a SCSS compiler!</strong> <br /> Either "dyn_scss" or "ws_scss"</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{admin}">
<f:if condition="{settings.customScss}">
	<f:then>
		<f:if condition="{customScss}">
			<f:then>
				<p class="text-success text-center lead" style="margin:3rem 0 1rem 0;">Custom scss is activated!</p>
				<f:if condition="{settings.editScss} && {isSiteroot}">
					<f:then>
						<f:form class="form-horizontal" action="list" name="custom-variables" >
						<p class="text-center">You can override default <strong>Bootstrap</strong> variables here:</p>
							<f:form.textarea name="t3sbootstrap[custom-variables]" id="pageTitleclass" class="form-control" 
							rows="16" style="padding:1rem; margin-bottom:1rem;" value="<f:format.raw>{custom-variables}</f:format.raw>" />
							<f:if condition="{settings.bootswatch}">
								<f:then>
									<p class="text-center">
										You can override default <strong>Bootswatch</strong> SCSS <small>(Theme: {settings.bootswatch})</small> here:
									</p>	 
								</f:then>
								<f:else>
									<p class="text-center">You can set your <strong>own</strong> SCSS here:</p>	 
								</f:else>
							</f:if>
							<f:form.textarea name="t3sbootstrap[custom]" id="pageTitleclass" class="form-control" 
							rows="16" style="padding:1rem;" value="<f:format.raw>{custom}</f:format.raw>" />
							<f:form.submit value="Save custom-variables.scss & clean up temporary files in typo3temp/DynCss/ or typo3temp/ws_scss/" 
							class="btn btn-success btn-block" style="margin: 3rem 0;" />
						</f:form>
					</f:then>
					<f:else>
						<f:if condition="{settings.editScss}">
							<f:then>
								<p class="text-center">You can override default Bootstrap variables on the root page.</p>
							</f:then>
							<f:else>
								<p class="text-center">
									You can override default Bootstrap variables in <strong>{settings.customScssPath}custom-variables.scss</strong>
									 without modifying source files.<br /> <small>Clean up temporary files in typo3temp/DynCss/ or typo3temp/ws_scss/ after edit this file!</small>
								</p>		
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<p class="text-danger text-center lead" style="margin:3rem 0 1rem 0;">
					Custom scss is activated but no custom-variables.scss file exist!<br /> Run the schedular task "T3SB Custom Scss" to write the file.
				</p>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<p class="text-danger text-center lead" style="margin:3rem 0 1rem 0;">Custom scss is not activated!</p>
	</f:else>
</f:if>
</f:if>

</f:section>
</html>
