<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Gallery Template for Carousel used in Textmedia, Mediaobject and/or Card</f:comment>
<div id="carousel-{data.uid}" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<f:for each="{files}" as="mediaElement" iteration="iterator">
			<li data-target="#carousel-{data.uid}" data-slide-to="{iterator.index}" class="{f:if(condition:'{iterator.isFirst} == 1',then:'active')}"></li>
		</f:for>
	</ol>
	<div class="carousel-inner">
		<f:for each="{files}" as="media" iteration="iterator">
			<div class="carousel-item{f:if(condition:'{iterator.isFirst} == 1',then:' active')}">
				<f:if condition="{media.properties.link}">
					<f:then>
						<f:link.typolink parameter="{media.properties.link}" title="{media.properties.title}">
							<f:render section="Slide" arguments="{file: media, dimensions: gallery}" />
						</f:link.typolink>
					</f:then>
					<f:else>
						<f:if condition="{addmedia.imagezoom}">
							<f:then>
								<ce:link.clickEnlarge image="{media}" configuration="{settings.media.popup}">
									<f:render section="Slide" arguments="{file: media, dimensions: gallery}" />
								</ce:link.clickEnlarge>
							</f:then>
							<f:else>
								<f:render section="Slide" arguments="{file: media, dimensions: gallery}" />
							</f:else>
						</f:if>
					</f:else>
				</f:if>
				<f:if condition="{media.title} || {media.description}">
					<div class="carousel-caption d-none d-md-block">			
						<f:if condition="{media.title}">
							<h5>{media.title -> f:format.html()}</h5>
						</f:if>
						<f:if condition="{media.description}">
							<p>{media.description -> f:format.html()}</p>
						</f:if>
					</div>
				</f:if>
			</div>
		</f:for>
	</div>
	<a class="carousel-control-prev" href="#carousel-{data.uid}" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">zurück</span>
	</a>
	<a class="carousel-control-next" href="#carousel-{data.uid}" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">weiter</span>
	</a>
</div>
</html>


<f:section name="Slide">
	<t3sb:media file="{file}" title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: 'image-{file.uid}')}"
	 class="img-fluid{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}"
	  width="{dimensions.width}" height="auto" breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	}" picturefill="{settings.picturefill}" lazyload="0" />
</f:section>
