<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Gallery Template</f:comment>



<f:if condition="{gallery.rows} || {files}">
	<f:comment> In Text right or left</f:comment>
	<f:if condition="{data.imageorient} == 17 || {data.imageorient} == 18 || {data.imageorient} == 66 || {data.imageorient} == 77">
		<f:then>

			<f:if condition="{data.imageorient} == 17 || {data.imageorient} == 18">
				<f:then>

<f:comment>
					<div class="gallery text-center mx-auto float-md-{f:if(condition:'{data.imageorient} == 17',then:'right ml-md-3',else:'left mr-md-3')}{rowwidth}">
 mx-auto  entfernt:
</f:comment>





<div class="{galleryClass}">

						<f:render section="GalleryRows" arguments="{_all}" />
					</div>
				</f:then>
				<f:else>
					<div class="gallery text-center float-md-{f:if(condition:'{data.imageorient} == 17',then:'right ml-md-3',else:'left mr-md-3')}">
						<f:render section="GalleryRows" arguments="{_all}" />
					</div>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{gallery.count.files} == 1">
				<f:then>

<f:comment>

ONLY ONE IMAGE

					<div class="gallery text-center text-md-{gallery.position.horizontal}{f:if(condition:'{gallery.position.horizontal} == center',then: ' mx-auto')}{f:if(condition:'{gallery.position.horizontal} == right',then: ' float-right')}"{f:if(condition:'{addmedia.galleryStyle} && {files.0.properties.description}',then: ' style="max-width: {addmedia.galleryStyle}px;"')} data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">

{f:if(condition:'{gallery.position.horizontal} == center',then: ' mx-auto')} entfernt:

md mit breakpoint ersetzen!!!

style entfernt: {f:if(condition:'{addmedia.galleryStyle} && {files.0.properties.description}',then: ' style="max-width: {addmedia.galleryStyle}px;"')}
war ggf nur für caption -> anders gelöst



</f:comment>

					<f:comment> Beside Text right or left </f:comment>
					<f:if condition="{gallery.position.noWrap}">
						<f:then>
<div class="gallery text-center{f:if(condition:'{gallery.position.horizontal} != center',then: ' text-md-{gallery.position.horizontal}')}{f:if(condition:'{gallery.position.horizontal} == right',then: ' float-right')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">

						<f:render partial="Media/RawGallery" arguments="{_all}" />


					</div>

						</f:then>
						<f:else>
							<f:comment> Above or below the Text </f:comment>
<div class="gallery w-100 text-center{f:if(condition:'{gallery.position.horizontal} != center',then: ' text-md-{gallery.position.horizontal}')}{f:if(condition:'{gallery.position.horizontal} == right',then: ' float-right')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">

						<f:render partial="Media/RawGallery" arguments="{_all}" />


					</div>

						</f:else>
					</f:if>
					
					


				</f:then>
				<f:else>
					<f:comment> Beside Text right or left </f:comment>
					<f:if condition="{gallery.position.noWrap}">
						<f:then>
							<div class="gallery text-center mx-auto" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
								<f:render section="GalleryRows" arguments="{_all}" />
							</div>
						</f:then>
						<f:else>
							<f:comment> Above or below the Text </f:comment>
<f:comment>
							<div class="gallery text-center mx-auto text-md-{gallery.position.horizontal}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
-> mx-auto entfernt:
<div class="gallery w-100 text-center text-md-{gallery.position.horizontal}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">			</f:comment>

<f:debug title="Results of customers">{_all}</f:debug>


<div class="{galleryClass}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">		
								<f:render section="GalleryRows" arguments="{_all}" />
							</div>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:if>


</html>


<f:section name="GalleryRows">
<f:if condition="{data.imagecols} == 88 && {gallery.count.files} > 1">
	<f:then>
		<f:render partial="Media/Carousel" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:for each="{gallery.rows}" as="row">
			<f:if condition="{gallery.position.noWrap} || {gallery.position.vertical} == 'intext'">
				<f:then>
					<div class="row">
				</f:then>
				<f:else>
					<f:comment> Above or below the Text </f:comment>
					<div class="row{f:if(condition: '{gallery.position.horizontal} == \'center\'', then: ' mx-auto')}{rowwidth}">
				</f:else>
			</f:if>
			<f:for each="{row.columns}" as="column" iteration="iterator">
				<f:if condition="{column.media}">
					<div class="col-sm{f:if(condition: iterator.isFirst, then: ' first-figure')}{f:if(condition: iterator.isLast, then: ' last-figure')}">
						<f:render partial="Media/Type" arguments="{
							file: column.media,
							dimensions: column.dimensions,
							addmedia: addmedia,
							ratio: data.tx_t3sbootstrap_image_ratio}" />
					</div>
				</f:if>
			</f:for>
			</div>
		</f:for>
	</f:else>
</f:if>
</f:section>


