<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Gallery Template for Mediaobject and/or Card</f:comment>

<f:if condition="{data.imagecols} == 88 && {gallery.count.files} > 1">
	<f:then>
		<f:render partial="Media/Carousel" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:for each="{gallery.rows}" as="row" iteration="iterator">
			<f:for each="{row.columns}" as="column">
				<f:if condition="{column.media}">
					<f:render partial="Media/Type" arguments="{
						file: column.media,
						dimensions: column.dimensions,
						position: gallery.position.horizontal,
						addmedia: addmedia,
						ratio: data.tx_t3sbootstrap_image_ratio}" />
				</f:if>
			</f:for>
		</f:for>
	</f:else>
</f:if>
</html>
