<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers"
data-namespace-typo3-fluid="true">
<n:excludeDisplayedNews newsItem="{newsItem}"/>
<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="card">	
		<f:if condition="{newsItem.mediaPreviews}">
			<!-- media preview element -->
			<f:then>
				<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
					<f:if condition="{mediaElement.originalResource.type} == 2">
						<f:render section="Image" arguments="{file: mediaElement}" />		
					</f:if>
					<f:if condition="{mediaElement.originalResource.type} == 4">
						<div class="mediaelement-video embed-responsive embed-responsive-16by9">
							<f:media class="embed-responsive-item" file="{mediaElement}" width="{settings.detail.media.video.width}" height="{settings.detail.media.video.height}" />
						</div>
					</f:if>
					<f:if condition="{mediaElement.originalResource.type} == 5">			
						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" class="img-fluid mr-3{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_lazy_load, then: ' lazy')}{f:if(condition:'{settings.lazyLoad} == 1',then:' lazy')}{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.originalResource.properties.tx_t3sbootstrap_extra_imgclass}')}"/>	
					</f:if>
				</f:alias>
			</f:then>
		</f:if>
		<div class="card-body">
			<p class="small text-dark text-right mb-0">
				<f:if condition="{newsItem.categories}">
					<f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" /> |
				</f:if>
				<!-- date -->
				<span class="news-list-date">
					<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
						<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
					</time>
				</span>
			</p>
			<!-- header -->
			<h5 class="card-title">
				<span itemprop="headline">{newsItem.title}</span>
			</h5>
			<!-- teaser -->
			<div class="card-text">
				<n:removeMediaTags>
					<f:if condition="{newsItem.teaser}">
						<f:then>
							{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
						</f:then>
						<f:else>
							{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
						</f:else>
					</f:if>
				</n:removeMediaTags>
			</div>
		</div>
</n:link>
</html>


<f:section name="Image">
<figure class="image">
	<t3sb:media file="{file}" title="{file.originalResource.title}" alt="{f:if(condition: file.originalResource.alternative, then: '{file.originalResource.alternative}', else: 'image-{file.originalResource.uid}')}"
	 class="img-fluid card-img-top{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_lazy_load, then: ' lazy')}{f:if(condition:'{settings.lazyLoad} == 1',then:' lazy')}{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.originalResource.properties.tx_t3sbootstrap_extra_imgclass}')}"
	  width="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" height="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}c" breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	}" picturefill="{settings.picturefill}" lazyload="{settings.lazyLoad}" />
</figure>
</f:section>
