<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->
<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
			<f:if condition="{settings.templateLayout} == 71">
				<f:then>
					<f:render section="ListGroup" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:if condition="{settings.templateLayout} > 71">
						<f:then>
							<f:render section="Cards" arguments="{_all}" />
						</f:then>
						<f:else>
							<f:render section="List" arguments="{_all}" />
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xml:list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>


<f:section name="ListGroup">
	<f:if condition="{news}">
		<f:then>
			<div class="list-group" id="news-container-{contentObjectData.uid}">
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:for each="{news}" as="newsItem" iteration="iterator">
							<f:render partial="ListGroup/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<f:render partial="ListGroup/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xml:list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
</f:section>


<f:section name="Cards">
	<f:if condition="{news}">
		<f:then>
			<f:if condition="{settings.hidePagination}">
				<f:then>
					<div class="card-{f:if(condition:'{settings.templateLayout} == 72',then:'group')}{f:if(condition:'{settings.templateLayout} == 73',then:'deck')}{f:if(condition:'{settings.templateLayout} == 74',then:'columns')}" id="news-container-{contentObjectData.uid}">
						<f:for each="{news}" as="newsItem" iteration="iterator">
							<f:render partial="Cards/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</div>
				</f:then>
				<f:else>
					<div id="news-container-{contentObjectData.uid}">
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
							<div class="card-{f:if(condition:'{settings.templateLayout} == 72',then:'group')}{f:if(condition:'{settings.templateLayout} == 73',then:'deck')}{f:if(condition:'{settings.templateLayout} == 74',then:'columns')}">
								<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
									<f:render partial="Cards/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</div>
						</n:widget.paginate>
					</div>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xml:list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
</f:section>


<f:section name="List">
	<f:if condition="{news}">
		<f:then>
			<ul class="list-unstyled" id="news-container-{contentObjectData.uid}">
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:for each="{news}" as="newsItem" iteration="iterator">
							<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			</ul>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xml:list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
</f:section>

