<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{sectionMenu.0.content.0}">
<div class="d-md-flex bg-light p-2 mb-3" id="sectionmenu">
	<ul class="nav section-menu flex-column flex-nowrap nav-pills w-100">
		<f:for each="{sectionMenu.0.content}" as="element">
			<f:if condition="{element.data.header} && {element.data.sectionIndex}">
				<li class="nav-item">
					<a class="nav-link scroll-trigger" href="{element.link}#c{element.data.uid}" target="{element.target}">
						{element.data.header -> f:format.raw()}
					</a>
				</li>
			</f:if>
		</f:for>
	</ul>
</div>
</f:if>
</html>
