<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subNavigation}">
<div class="d-md-flex bg-light p-2 mb-3" id="submenu">
	<ul class="nav flex-column flex-nowrap nav-pills w-100">
		<f:for each="{subNavigation}" as="item">
			<li class="nav-item{f:if(condition: item.active, then:' active')}">
				<f:if condition="{item.children}">
					<f:then>
						<f:if condition="{item.data.tx_t3sbootstrap_fontawesome_icon}">
							<f:then>
								<a class="nav-link{f:if(condition: item.active, then:'', else:' collapsed')}{f:if(condition: item.current, then:' active')}" href="{item.link}" data-toggle="collapse" data-target="#submenu{item.data.uid}">
									<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i>{f:if(condition:'{item.data.tx_t3sbootstrap_icon_only}',else:' {item.title}')}
								</a>
							</f:then>
							<f:else>
								<a class="nav-link{f:if(condition: item.active, then:'', else:' collapsed')}{f:if(condition: item.current, then:' active')}" href="{item.link}" data-toggle="collapse" data-target="#submenu{item.data.uid}">{item.title}</a>
							</f:else>
						</f:if>
						<f:render section="submenu" arguments="{submenu: item.children, id: item.data.uid, show: item.active}"/>
					</f:then>
					<f:else>
						<f:if condition="{item.spacer}">
							<f:then>
								<f:if condition="{item.data.tx_t3sbootstrap_fontawesome_icon}">
									<f:then>
										<span class="nav-link">
											<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i>{f:if(condition:'{item.data.tx_t3sbootstrap_icon_only}',else:' {item.title}')}
										</span>
									</f:then>
									<f:else>
										<span class="nav-link">{item.title}</span>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:render section="link" arguments="{item: item}"/>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</div>
</f:if>
</html>


<f:section name="link">
<f:if condition="{item.data.tx_t3sbootstrap_fontawesome_icon}">
	<f:then>
		<f:if condition="{item.data.target}">
			<f:then>
				<f:link.typolink parameter="{item.link}" class="nav-link{f:if(condition: item.current, then:' active')}" target="{item.data.target}">
					<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i>{f:if(condition:'{item.data.tx_t3sbootstrap_icon_only}',else:' {item.title}')}
				</f:link.typolink>
			</f:then>
			<f:else>
				<f:link.typolink parameter="{item.link}" class="nav-link{f:if(condition: item.current, then:' active')}">
					<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i>{f:if(condition:'{item.data.tx_t3sbootstrap_icon_only}',else:' {item.title}')}
				</f:link.typolink>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{item.data.target}">
			<f:then>
				<f:link.typolink parameter="{item.link}" class="nav-link{f:if(condition: item.current, then:' active')}" target="{item.data.target}">
					{item.title}
				</f:link.typolink>
			</f:then>
			<f:else>
				<f:link.typolink parameter="{item.link}" class="nav-link{f:if(condition: item.current, then:' active')}">
					{item.title}
				</f:link.typolink>
			</f:else>
		</f:if>
	</f:else>
</f:if>
</f:section>


<f:section name="submenu">
<f:if condition="{submenu}">
<div class="collapse{f:if(condition: show, then:' show')}" id="submenu{id}" aria-expanded="{f:if(condition: show, then:'true', else:'false')}">
	<ul class="flex-column pl-2 nav">
		<f:for each="{submenu}" as="subItem">
			<li class="nav-item{f:if(condition: subItem.active, then:' active')}">
				<f:if condition="{subItem.children}">
					<f:then>
						<a class="nav-link{f:if(condition: subItem.active, then:'', else:' collapsed')}{f:if(condition: subItem.current, then:' active')}" href="{subItem.link}" data-toggle="collapse" data-target="#submenu{subItem.data.uid}">
						<f:if condition="{subItem.data.tx_t3sbootstrap_fontawesome_icon}">
							<f:then>							
								<i class="{subItem.data.tx_t3sbootstrap_fontawesome_icon}"></i>{f:if(condition:'{subItem.data.tx_t3sbootstrap_icon_only}',else:' {subItem.title}')}
							</f:then>
							<f:else>
								{subItem.title}	
							</f:else>
						</f:if>				
						</a>
						<f:render section="submenu" arguments="{submenu: subItem.children, id: subItem.data.uid, show: subItem.active}"/>
					</f:then>
					<f:else>
						<f:render section="link" arguments="{item: subItem}"/>
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</div>
</f:if>
</f:section>
