<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {pageUid: '{data.uid}', colPos: '21'})} != '<!--TYPO3SEARCH_begin--><!--TYPO3SEARCH_end-->' || 
'lib.dynamicContentSlide', data: {pageUid: '{data.uid}', colPos: '21'})} != '<!--TYPO3SEARCH_begin--><!--TYPO3SEARCH_end-->'">
	<f:then>
		{f:variable(name: 'expandetcontent', value: 1)}
	</f:then>
	<f:else>
		{f:variable(name: 'expandetcontent', value: 0)}
	</f:else>
</f:if>

<f:if condition="{expandetcontent}">
	<f:if condition="{config.expandedcontentBottom.container}">
		<f:then>
			<f:render section="{config.expandedcontentBottom.containerposition}" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="Default" arguments="{_all}" />
		</f:else>
	</f:if>
</f:if>
</html>

<f:section name="Inside">
<div id="expanded-content-bottom" class="{config.expandedcontentBottom.class}">
	<div class="{config.expandedcontentBottom.container}">
		<f:render section="Content" arguments="{_all}" />
	</div>
</div>
</f:section>

<f:section name="Outside">
<div class="{config.expandedcontentBottom.container}">
	<div id="expanded-content-bottom" class="{config.expandedcontentBottom.class}">
		<f:render section="Content" arguments="{_all}" />
	</div>
</div>
</f:section>

<f:section name="Default">
<div id="expanded-content-bottom" class="{config.expandedcontentBottom.class}">
	<f:render section="Content" arguments="{_all}" />
</div>
</f:section>

<f:section name="Content">
	<f:if condition="{config.expandedcontentBottom.slide}">
		<f:then>
			<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '21'}"/>
		</f:then>
		<f:else>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '21'}"/>
		</f:else>
	</f:if>
</f:section>
