<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<main class="main-content">
	<h1 class="text-danger display-1 text-center">Template auslagern!</h1>
	<div class="alert alert-danger lead mb-5 text-center"><p>Die Templates für eigene Backend-Layouts müssen ausgelagert werden. (uid.html hier 1.html).</p></div>
	
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
		
</main>
</html>