<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<main class="main-content{f:if(condition: settings.globalPaddingTop, then: ' {settings.globalPaddingTop}')}{f:if(condition: settings.mainExtraClass, then: ' {settings.mainExtraClass}')}">
	<f:if condition="{config.general.pageTitle} == 'content'">
		<f:render partial="Page/Title" arguments="{_all}" />
	</f:if>
	<f:if condition="{data.content_from_pid}">
		<f:then>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.content_from_pid}', colPos: '0'}"/>		
		</f:then>
		<f:else>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
		</f:else>
	</f:if>
</main>
</html>