<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.colPos} == 0">
<span class="anchor" id="c{data.uid}"></span>
</f:if>
<f:if condition="{youtubeProperty}">
	<f:then>
        <div id="control{data.uid}"></div>
	    <div id="dom{data.uid}" class="player{data.uid} player{f:if(condition: '{class}',then: ' {class}')}" data-property="{youtubeProperty}"{f:if(condition: '{style}',then: ' style="{style}"')}>
			<f:if condition="{contentCenter}">
				<f:then>
					<f:render section="SectionInnerCenter" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render section="SectionInner" arguments="{_all}" />
				</f:else>
			</f:if>
	    </div>
	</f:then>
	<f:else>
		<f:if condition="{bgImage}">
			<f:then>
				<f:if condition="{file}">
					<f:then>


						<section id="s{data.uid}" class="card rounded-0 border-0{f:if(condition: '{class}', then: ' {class}')}">
							<figure>

		<t3sb:media file="{file}" width="2560" class="img-fluid orig-img{f:if(condition: file.properties.tx_t3sbootstrap_lazy_load, then: ' lazy')}"

								  breakpoints="{
									0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '1200, 1360, 1600, 1920, 2560'},
									1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '576, 992, 1199'},
									2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '575'}
								}" picturefill="{settings.picturefill}" lazyload="{settings.lazyLoad}" ratio="0" />
							</figure>
							<f:render section="SectionOverlayInner" arguments="{_all}" />
						</section>
					</f:then>
					<f:else>
						<section id="s{data.uid}" class="{imageRaster}background-image bgImageSize{f:if(condition: '{class}', then: ' {class}')}"
							 style="background-image: url('{bgImage}');{f:if(condition: '{style}', then: ' {style}')}">
							<f:render section="SectionInner" arguments="{_all}" />
						</section>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{vimeo}">
					<f:then>
						<div class="alert alert-danger my-5" role="alert">
							Vimeo videos are currently not supported
						</div>
					</f:then>
					<f:else>
						<section id="s{data.uid}" class="background-color{f:if(condition: '{class}', then: ' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}>
							<f:render section="SectionInner" arguments="{_all}" />
						</section>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:else>
</f:if>
</html>

<f:section name="SectionInner">
	<f:if condition="{data.tx_gridelements_view_column_0}">
		<f:if condition="{container}">
			<div class="{container}">
		</f:if>
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
		<f:if condition="{container}">
			</div>
		</f:if>
	</f:if>
</f:section>


<f:section name="SectionOverlayInner">
	<f:if condition="{data.tx_gridelements_view_column_0}">
		<div class="card-img-overlay d-flex">
			<f:if condition="{container}">
				<div class="{container} d-flex">
			</f:if>
				<div class="card-text w-100 align-self-center">
					{data.tx_gridelements_view_column_0 -> f:format.raw()}
				</div>
			<f:if condition="{container}">
				</div>
			</f:if>
		</div>
	</f:if>
</f:section>

<f:section name="SectionInnerCenter">
	<f:if condition="{data.tx_gridelements_view_column_0}">
		<div class="v-row align-items-center h-100 w-100 absolute">
			<div class="col">
			<f:if condition="{container}">
				<div class="{container}">
			</f:if>
				{data.tx_gridelements_view_column_0 -> f:format.raw()}
			<f:if condition="{container}">
				</div>
			</f:if>
			</div>
		</div>
	</f:if>
</f:section>
