<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{buttonGroupAlign}">
	<div class="{buttonGroupAlign}">
</f:if>
	<div class="{class}" role="group" aria-label="{data.header}">
		{data.tx_gridelements_view_column_0 -> f:format.raw()}
	</div>
<f:if condition="{buttonGroupAlign}">
	</div>
</f:if>
</f:section>
</html>
