<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{card_wrapper_layout} == 'slider' || {card_wrapper_layout} == 'flipper'">
	<f:then>
		<div id="c{data.uid}" class="card-{card_wrapper_layout}{f:if(condition:'{class}',then:' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}>
			<f:if condition="{card_wrapper_layout} == 'slider'">
				<f:then>
					<f:render section="Slider" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render section="Flipper" arguments="{_all}" />
				</f:else>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<div id="c{data.uid}" class="card-{card_wrapper_layout}{f:if(condition:'{class}',then:' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}>
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
		</div>
	</f:else>
</f:if>
</f:section>


<f:section name="Slider">
<div id="cs{data.uid}" class="carousel card-slider slide" data-ride="carousel">
	<div class="carousel-inner row w-100 mx-auto">
		{data.tx_gridelements_view_column_0 -> f:format.raw()}
	</div>
	<div class="col-12 lead my-4">
		<a class="btn btn-outline-secondary prev" href="#cs{data.uid}" role="button" data-slide="prev"><i class="fas fa-lg fa-chevron-left"></i></a>
		<a class="btn btn-outline-secondary next" href="#cs{data.uid}" role="button" data-slide="next"><i class="fas fa-lg fa-chevron-right"></i></a>
	</div>
</div>
</f:section>

<f:section name="Flipper">
<div class="card-flipper row">
	<f:for each="{cards}" as="card">
		<div class="{flipper.class}">
			<div class="image-flip h-100" ontouchstart="this.classList.toggle('hover');">
				<div class="mainflip h-100">
					<div class="frontside w-100 h-100">
						<div class="card h-100">
							<div class="card-body">
								<f:render section="Image" arguments="{file: '{card.file}'}" />
								<h5 class="card-title my-3 text-{card.header_position}">{card.card-header -> f:format.raw()}</h5>
								{card.text.top -> f:format.raw()}
								<div class="card-footer w-100 text-center">
									<f:if condition="{card.footer.text}">
										<f:then>
											{card.footer.text -> f:format.raw()}
										</f:then>
										<f:else>
											<i class="fas fa-plus-square fa-2x mx-auto w-100"></i>
										</f:else>
									</f:if>
								</div>
							</div>
						</div>
					</div>
					<div class="backside w-100 h-100">
						<div class="card h-100">
							<div class="card-body mt-4">
								<h5 class="card-title my-3 text-{card.header_position}">{card.header.text -> f:format.raw()}</h5>
								{card.text.bottom -> f:format.raw()}
								<f:if condition="{card.settings.button.enable} && {card.header_link}">
									<div class="card-footer w-100 text-center">
										<f:render section="Button" arguments="{_all}" />
									</div>
								</f:if>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:for>
</div>
</f:section>

<f:section name="Image">
<figure class="text-center">
	<t3sb:media file="{file}" title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: 'image-{file.uid}')}"
	 class="img-fluid{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}"
	  width="{dimensions.width}" height="auto" breakpoints="{
			0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
			1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
			2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	}" picturefill="{settings.picturefill}" lazyload="0" ratio="{ratio}" shift="{shift}" />
</figure>
</f:section>

<f:section name="Button">
	<f:link.typolink parameter="{card.header_link}" class="btn btn{f:if(condition:'{card.settings.button.outline}',then: '-outline')}-{card.settings.button.style}{f:if(condition:'{card.settings.button.block}',then: ' btn-block')}">
		<f:if condition="{card.settings.button.text}">
			<f:then>
					{card.settings.button.text -> f:format.raw()}
			</f:then>
			<f:else>
					{f:translate(key: 'LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang.xlf:more')}
			</f:else>
		</f:if>
	</f:link.typolink>
</f:section>
</html>
