<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{data.tx_gridelements_view_children}">
	<div id="carousel-{data.uid}" class="carousel slide{carouselFade}{f:if(condition: data.tx_t3sbootstrap_extra_class, then: ' {data.tx_t3sbootstrap_extra_class}')}" data-ride="carousel" data-interval="{f:if(condition: interval,then: '{interval}', else:'5000')}">
		<ol class="carousel-indicators d-none d-md-block">
			<f:for each="{data.tx_gridelements_view_children}" as="carousel-indicators" iteration="iteration-indicators">
				<li data-target="#carousel-{data.uid}" data-slide-to="{iteration-indicators.index}"
				{f:if(condition:'{iteration-indicators.isFirst}',then:' class="active"')}></li>
			</f:for>
		</ol>
		<div class="carousel-inner">
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
		</div>
		<a class="carousel-control-prev" href="#carousel-{data.uid}" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-{data.uid}" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</f:if>
</f:section>
</html>
