<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:switch expression="{appearance}">
	<f:case value="accordion">
		<f:render section="Accordion" arguments="{_all}" />
	</f:case>
	<f:case value="button">
		<f:render section="Button" arguments="{_all}" />
	</f:case>
</f:switch>
</html>

<f:section name="Accordion">
<div class="card"{f:if(condition:'{style}',then:' style="{style}"')}>
	<div class="card-header{f:if(condition:'{class}',then:' {class}')}" role="tab" id="heading-{data.uid}">
		<f:if condition="{media.originalFile}">
			<f:image image="{media.originalFile}" alt="{media.alt}" title="{media.title}" width="60c" height="60c" class="float-left mr-3" />
		</f:if>
		<h5 class="mb-0{f:if(condition: '{data.header_position}',then: ' text-{data.header_position}')}{f:if(condition: '{data.tx_t3sbootstrap_header_class}',then: ' {data.tx_t3sbootstrap_header_class}')}">
			<a data-toggle="collapse" href="#collapse-{data.uid}" aria-expanded="{expanded}" aria-controls="collapse-{data.uid}" style="display: block;">
				{f:if(condition: '{data.header}', then: '{data.header}', else: 'Accordion-{data.uid}')}
			</a>
		</h5>
	</div>
	<div id="collapse-{data.uid}" class="collapse{show}" role="tabpanel" aria-labelledby="heading-{data.uid}" data-parent="#accordion-{data.tx_gridelements_container}">
	  <div class="card-body">
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
	  </div>
	</div>
</div>
</f:section>

<f:section name="Button">
<p class="collapse-button{f:if(condition: '{data.header_position}',then: ' text-{data.header_position}')}{f:if(condition: '{data.tx_t3sbootstrap_header_class}',then: ' {data.tx_t3sbootstrap_header_class}')}">
	<a class="btn btn-{buttonstyle}" data-toggle="collapse" href="#collapse-{data.uid}" aria-expanded="{expanded}" aria-controls="collapse-{data.uid}">
		{f:if(condition: '{data.header}', then: '{data.header}', else: 'Accordion-{data.uid}')}
	</a>
</p>
<div id="collapse-{data.uid}" class="collapse{show}">
	<div class="card card-body">
		{data.tx_gridelements_view_column_0 -> f:format.raw()}
	</div>
</div>
</f:section>