<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Container Template</f:comment>
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{class}">
		 <f:then>
			<div class="{class}">
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
			</div>
		 </f:then>
		 <f:else>
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
		 </f:else>
	</f:if>
</f:section>
</html>