<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
</f:section>
<f:section name="Main">
	<div class="row{f:if(condition: '{class}',then: ' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}>
		<f:if condition="{data.header} || {data.subheader} || {data.date}">
			<div class="col-12">
				<f:render partial="Header/All" arguments="{_all}" />
			</div>
		</f:if>
		<div class="column {columnOne}">
			{data.tx_gridelements_view_column_0 -> f:format.raw()}
		</div>
		<div class="column {columnTwo}">
			{data.tx_gridelements_view_column_1 -> f:format.raw()}
		</div>
		<div class="column {columnThree}">
			{data.tx_gridelements_view_column_2 -> f:format.raw()}
		</div>
		<div class="column {columnFour}">
			{data.tx_gridelements_view_column_3 -> f:format.raw()}
		</div>
	</div>
</f:section>
</html>
