<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>No header for moal</f:comment>
</f:section>
<f:section name="Main">
<f:if condition="{modal.button}">
	<f:then>
		<button type="button" class="btn btn-{modal.style}{f:if(condition:'{class}',then:' {class}')}" data-toggle="modal" data-target="#modal-{data.uid}">
			{f:if(condition:'{data.header}',then:'{data.header -> f:format.raw()}', else: 'Modal-Button')}
		</button>
	</f:then>
	<f:else>
		<a class="modal-link{f:if(condition:'{class}',then:' {class}')}" data-toggle="modal" data-target="#modal-{data.uid}" style="cursor:pointer;">
			{f:if(condition:'{data.header}',then:'{data.header -> f:format.raw()}', else: 'Modal-Link')}</a>
	</f:else>
</f:if>

<div class="modal{f:if(condition:'{modal.animation}',then:' fade')}" id="modal-{data.uid}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog {modal.size}">
		<div class="modal-content">
			<div class="modal-header">
				<f:if condition="{modal.ptag}">
					<f:then>
						<p class="modal-ptag{f:if(condition:'{headerClass}',then:' {headerClass}')}{f:if(condition:'{hClass}',then:' {hClass}')}">{data.header -> f:format.raw()}</p>
					</f:then>
					<f:else>
						<f:render partial="Header/All" arguments="{_all}" />
					</f:else>
				</f:if>
				<button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				{data.tx_gridelements_view_columns.0 -> f:format.raw()}
			</div>
		</div>
	</div>
</div>
</f:section>
</html>