<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
</f:section>
<f:section name="Main">
<div{f:if(condition:'{class}',then:' class="{class}"')}{f:if(condition: '{style}',then: ' style="{style}"')}>
	<f:if condition="{data.header} || {data.subheader} || {data.date}">
		<div class="col-12">
			<f:render partial="Header/All" arguments="{_all}" />
		</div>
	</f:if>
	{data.tx_gridelements_view_column_10 -> f:format.raw()}
</div>
</f:section>
</html>
