<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="tab-content-{data.uid}" class="tab-pane{f:if(condition: '{tab.switchEffect}',then: ' {tab.switchEffect}')}{f:if(condition:'{class}',then:' {class}')}" role="tabpanel" aria-labelledby="tab-{data.uid}">
	<f:if condition="{tab.contentByPid}">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{tab.contentByPid}', colPos: '0'}"/>
	</f:if>
	{data.tx_gridelements_view_column_0 -> f:format.raw()}
</div>
</html>