<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
</f:section>
<f:section name="Main">
<f:if condition="{class} || {style}">	
	<div{f:if(condition:'{class}',then:' class="{class}"')}{f:if(condition:'{style}',then:' style="{style}"')}>
</f:if>	
	
<f:render partial="Header/All" arguments="{_all}" />
<f:switch expression="{tab.displayType}">
	<f:case value="pills">
		<f:render section="Pills" arguments="{_all}" />
	</f:case>
	<f:case value="verticalpills">
		<f:render section="Verticalpills" arguments="{_all}" />
	</f:case>
	<f:defaultCase>
		<f:render section="Tabs" arguments="{_all}" />
	</f:defaultCase>
</f:switch>
<f:if condition="{class} || {style}">	
	</div>
</f:if>	
</f:section>
</html>

<f:section name="Tabs">
<nav id="tabContainer-{data.uid}" class="nav nav-tabs mb-3{tab.fill}" role="tablist">
	<f:for each="{data.tx_gridelements_view_children}" as="tab" iteration="i">
		<a id="tab-{tab.uid}" class="nav-item nav-link{f:if(condition:'{i.isFirst}',then:' active')}" href="#tab-content-{tab.uid}" data-toggle="tab" role="tab" aria-controls="tab-content-{tab.uid}" aria-selected="{f:if(condition:'{i.isFirst}',then:'true', else: 'false')}">
			{tab.header}
		</a>
	</f:for>
</nav>
<f:render section="Content" arguments="{_all}" />
</f:section>

<f:section name="Pills">
<ul class="nav nav-pills mb-3{tab.fill}" id="pillContainer-{data.uid}" role="tablist">
	<f:for each="{data.tx_gridelements_view_children}" as="tab" iteration="i">
		<li class="nav-item">
			<a id="tab-{tab.uid}" class="nav-link{f:if(condition:'{i.isFirst}',then:' active')}" href="#tab-content-{tab.uid}" data-toggle="pill" aria-controls="tab-content-{tab.uid}" aria-selected="{f:if(condition:'{i.isFirst}',then:'true', else: 'false')}">
				{tab.header}
			</a>
		</li>
	</f:for>
</ul>
<f:render section="Content" arguments="{_all}" />
</f:section>


<f:section name="Verticalpills">
<div class="row">
	<div class="col-{pill.asideWidth}">
		<div id="vpillContainer-{data.uid}" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
			<f:for each="{data.tx_gridelements_view_children}" as="tab" iteration="i">
				<a id="tab-{tab.uid}" class="nav-link{f:if(condition:'{i.isFirst}',then:' active')}" href="#tab-content-{tab.uid}" data-toggle="pill" role="tab" aria-controls="tab-content-{tab.uid}" aria-selected="{f:if(condition:'{i.isFirst}',then:'true', else: 'false')}">
					{tab.header}
				</a>
			</f:for>
		</div>
	</div>
	<div class="col-{pill.mainWidth}">	
		<f:render section="Content" arguments="{_all}" />	
	</div>
</div>
</f:section>


<f:section name="Content">
<div id="tabContent-{data.uid}" class="tab-content">
	{data.tx_gridelements_view_column_0 -> f:format.raw()}
</div>
</f:section>
