<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
<f:if condition="{container}">
	<div class="{container}">
</f:if>


<f:if condition="{cardSlider}">
<div class="carousel-item col-md-4">
</f:if>

<f:link.typolink parameter="{celink}" class="ce-link">
<f:if condition="{divWrap}">
	<f:then>
		<div id="c{data.uid}"{f:if(condition: '{class}',then: ' class="{class}"')}{f:if(condition: '{style}',then: ' style="{style}"')}>
			<f:if condition="{data.CType} == 'textmedia' || {data.CType} == 'textpic' || {data.CType} == 'image'}">
				<f:then>
					<f:if condition="!{header_beside} && {files}">
						<f:render section="Header" optional="true">
							<f:render partial="Header/All" arguments="{_all}" />
						</f:render>
					</f:if>
				</f:then>
				<f:else>
					<f:render section="Header" optional="true">
						<f:render partial="Header/All" arguments="{_all}" />
					</f:render>
				</f:else>
			</f:if>
			<f:render section="Main" optional="true" />
		</div>
	</f:then>
	<f:else>
		<f:if condition="{data.CType} == 'textmedia' || {data.CType} == 'textpic' || {data.CType} == 'image'}">
			<f:then>
				<f:if condition="!{header_beside} && {files}">
					<f:render section="Header" optional="true">
						<f:render partial="Header/All" arguments="{_all}" />
					</f:render>
				</f:if>
			</f:then>
			<f:else>
				<f:render section="Header" optional="true">
					<f:render partial="Header/All" arguments="{_all}" />
				</f:render>
			</f:else>
		</f:if>
		<f:render section="Main" optional="true" />
	</f:else>
</f:if>
</f:link.typolink>

<f:if condition="{cardSlider}">
</div>
</f:if>
<f:if condition="{newLine}">
	<div class="w-100"></div>
</f:if>
<f:if condition="{container}">
	</div>
</f:if>
</f:spaceless>
</html>
