.card.card-body {
	border: none !important;
	box-shadow: none !important;
}

.panel-default > .panel-heading {
    background-image: none;
    filter:none;
    background-repeat:no-repeat;
}
.panel-default > .panel-heading {
    color: #FFF;
    background-color: #563D7C;
    border-color: #563D7C;
}

.required::before {
    font-family: FontAwesome;
    font-size: 12px;
    text-align: center;
    content: "";
    color: #c83c3c;
    display: inline-block;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ccc;
    background-color: #F5F5F5;
}



#accordionInfo .panel-default > .panel-heading {
    color: #5a5a5a;
    background-color: transparent;
    border-color: transparent;
}
.panel {
    box-shadow: none;
}

h4.panel-title a {
	display: block;
	cursor: pointer;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table.table-bordered {
  border: 1px solid #e9ecef;
}
table.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, .05);
}
table.table-hover {
  background-color: #f5f5f5;
}
table.table-sm {}
table.table-table-inverse {}