<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<figure class="image{f:if(condition: mediaElement.originalResource.properties.tx_t3sbootstrap_extra_class, then: ' {mediaElement.originalResource.properties.tx_t3sbootstrap_extra_class}')}">
	<f:if condition="{mediaElement.link}">
		<f:then>
			<f:link.page pageUid="{mediaElement.link}" target="{n:targetLink(link:mediaElement.link)}">
				<f:render section="Image" arguments="{file: mediaElement}" />
			</f:link.page>
		</f:then>
		<f:else>
			<f:if condition="{settings.detail.media.image.baguetteBox.enabled}">
				<f:then>
					<a href="{f:uri.image(image:mediaElement.originalResource, width:'{settings.detail.media.image.lightbox.width}', height:'{settings.detail.media.image.lightbox.height}')}" data-caption="{mediaElement.description}">
						<f:render section="Image" arguments="{file: mediaElement}" />
					</a>
				</f:then>
				<f:else>
					<f:render section="Image" arguments="{file: mediaElement}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{mediaElement.description}">
		<figcaption class="image-caption{f:if(condition: mediaElement.originalResource.properties.tx_t3sbootstrap_description_align, then: ' text-{mediaElement.originalResource.properties.tx_t3sbootstrap_description_align}', else: ' text-left')}">
			{mediaElement.description}
		</figcaption>
	</f:if>
</figure>
</html>



<f:section name="Image">
	<t3sb:media file="{file}" title="{file.originalResource.title}" alt="{f:if(condition: file.originalResource.alternative, then: '{file.originalResource.alternative}', else: 'image-{file.originalResource.uid}')}"
	 class="img-fluid{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_lazy_load, then: ' lazy')}{f:if(condition:'{settings.lazyLoad} == 1',then:' lazy')}{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.originalResource.properties.tx_t3sbootstrap_extra_imgclass}')}"
	  width="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}" height="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	}" picturefill="{settings.picturefill}" lazyload="{settings.lazyLoad}" />
</f:section>