<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>No header for t3sbs_mediaobject</f:comment>
</f:section>
<f:section name="Main">
<div class="media">
	<f:if condition="{mediaobject.order} == 'left'">
		<f:then>
			<f:render partial="Media/RawGallery" arguments="{_all}" />
		</f:then>
	</f:if>	
	<div class="media-body">
		<f:render section="Mediaheader" arguments="{_all}" />
		{data.bodytext -> f:format.html()}
	</div>
	<f:if condition="{mediaobject.order} == 'right'">
		<f:then>
			<f:render partial="Media/RawGallery" arguments="{_all}" />
		</f:then>
	</f:if>
</div>
</f:section>
</html>


<f:section name="Mediaheader">
<h5 class="mt-0{f:if(condition: data.tx_t3sbootstrap_header_class, then: ' {data.tx_t3sbootstrap_header_class}')}">
	<f:if condition="{data.header_link}">
		<f:then>
			<f:if condition="{data.tx_t3sbootstrap_header_fontawesome}">
				<f:then>
					<f:link.typolink parameter="{data.header_link}"><i class="mr-1 {data.tx_t3sbootstrap_header_fontawesome}"></i> {data.header -> f:format.raw()}</f:link.typolink>
				</f:then>
				<f:else>
					<f:link.typolink parameter="{data.header_link}">{data.header -> f:format.raw()}</f:link.typolink>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			{data.header -> f:format.raw()}
		</f:else>
	</f:if>
</h5>
</f:section>
