<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{menu}">
		<ul class="nav menusectionpages{menudirection}">
			<f:for each="{menu}" as="page">
				<li class="nav-item">
					<a href="{page.link}"{f:if(condition:'{page.target}',then:' target="{page.target}"')} title="{page.title}" class="nav-link{f:if(condition:'{data.pid} == {page.data.uid}',then:' active')}">
						<f:if condition="{page.nav_title}">
							<f:then>
								<span>{page.nav_title}</span>
							</f:then>
							<f:else>
								<span>{page.title}</span>
							</f:else>
						</f:if>
					</a>
					<f:if condition="{page.content}">
						<ul class="nav flex-column">
							<f:for each="{page.content}" as="element">
								<li>
									<a href="{page.link}#c{element.data.uid}" target="{page.target}" title="{element.data.header}">
										<span>{element.data.header}</span>
									</a>
								</li>
							</f:for>
						</ul>
					</f:if>
				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>
</html>