<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{menu}">
		<ul class="list-unstyled tree">
			<f:for each="{menu}" as="page">
				<li>
					<a href="{page.link}"{f:if(condition:'{page.target}',then:' target="{page.target}"')} title="{page.title}">
						<f:if condition="{page.nav_title}">
							<f:then>
								<span>{page.nav_title}</span>
							</f:then>
							<f:else>
								<span>{page.title}</span>
							</f:else>
						</f:if>
					</a>
					<f:render section="Menu" arguments="{menu: page.children}" />
				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>
<f:section name="Menu">
	<ul>
		<f:for each="{menu}" as="page">
			<li>
				<a href="{page.link}"{f:if(condition:'{page.target}',then:' target="{page.target}"')} title="{page.title}">
					<f:if condition="{page.nav_title}">
						<f:then>
							<span>{page.nav_title}</span>
						</f:then>
						<f:else>
							<span>{page.title}</span>
						</f:else>
					</f:if>
				</a>
				<f:render section="Menu" arguments="{menu: page.children}" />
			</li>
		</f:for>
	</ul>
</f:section>
</html>